.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.form_input label {
  margin-bottom: 8px;
  margin-left: 16px;
  color: var(--font-color-small);
  display: inline-block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-small);
}

.decorative-line {
  margin: 32px 0 32px 0;
  height: 0.5px;
  background-color: #e5e5e5;
}

.registration-link {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-small);
  text-align: center;
}

.registration-link a {
  text-decoration: none;
  color: var(--color-primary);
}

.registration-link span {
  margin-right: 8px;
}

.error-message {
  color: #ff4d4f;
}
