.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 100vh;
}

.container {
  width: 544px;
}

.login-welcome {
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  margin-bottom: 24px;
}

@media (max-width: 576px) {
  .container {
    width: 90vw;
  }
}
