.profile__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* padding: 0 80px; */
  max-width: 1440px;
  margin-bottom: 8px;
  margin-top: 88px;
}

.profile__main-info__container {
  display: flex;
  /* align-items: center; */
  gap: 24px;
  max-width: 1280px;
  padding: 0 32px;
  /* margin-top: 88px; */
  padding-bottom: 16px;
  padding-top: 8px;
}

.profile__main-info-text__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 64px;
  margin-bottom: auto;
}

.profile__main-info__img {
  height: 160px;
  width: 160px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.profile__main-info-text__container h1 {
  font-weight: 600;
  font-size: 30px;
}

.student-profile__form__container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 5px;
}

.spin__container {
  /* display: flex;
    align-items: center;
    min-height: 100vh; */
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 660px) {
  .student-profile__form__container {
    padding: 0 20px;
  }

  .profile__main-info__container {
    flex-wrap: wrap;
    padding: 20px;
  }

  .profile__main-info-text__container {
    margin-top: 0px;
    justify-content: center;
    margin-bottom: 0px;
  }
}
